

    <form>
      <div class="input-holder">
        <input id="mysearch" type="search" placeholder="search">

      </div>
      <div class="button-holder">
        <button class="add">+</button>
      </div>
          <div class="editor hidden">
           <hr>
            <div class="editor-inputs input-holder">
              <input type="text" name="name" placeholder="name">
              <input type="date"/>
              <input type="text" name="description" placeholder="description">
            </div>
            <div class="editor-controls button-holder">
                <button class="cancel">x</button>
                <br><br>
                <button class="submit">>></button>

            </div>
          </div>
        <hr>
        <%_.forEach(data, function(c, index){%>
         <div class="todo-container" id='todo-container-<%=index%>'>
           <button class="delete-button hidden" id="delete-<%=index%>">x</button>

           <div>
             Event name:<%=c.name%>

              </div>
              <div>
              Date created:<%=c.date%>

              </div>
              <div>
                Description:<%=c.description%>

              </div>
              <div>
              Date due:<%=c.dueBy%>
              </div>
        </div>
        <hr>
      <%})%>
    </form>